
<div class="posts">
  <%= render "partials/user", user: @user %>
  <div class="bio">
    <p>
      <span>Bio</span>
      <%= @user.bio%>
    </p>
  </div>
  
  <% @user.three_recent_posts.each do |post| %>
  <h4>Post #<%=post.id%></h4>
  <p><%= post.text%></p>
  <span>Comments: <%= post.commentsCounter%></span>
  <span>Likes: <%= post.likescounter%></span>
  <% end%>
  
  <div>
    <button><%= link_to "see all posts", user_posts_path(@user)  %></button>
  </div>
</div>