<section>
    <div>
        <h4>Post#<%= @post.id%> By <%= @post.author.name%> </h4>
        <span>Comments:<%= @post.commentsCounter%> Likes: <%=@post.likescounter%></span>
        <p><%= @post.text%></p>
    </div>

   <div>
    <% @post.comments.each do |comment| %>
      <p>
        <%= comment.author.name %> : <%= comment.text.truncate(80)%>
      </p>
    <% end%>

  </div>
</section>