<section>
    <div>
        <h4>Post#<%= @post.id%> By <%= @post.author.name%> </h4>
        <span>Comments:<%= @post.commentsCounter%> Likes: <%=@post.likescounter%></span>
        <p><%= @post.text%></p>
        <%= render'/partials/new_like', like: @post.likes%>
    </div>

   <ul class="comments-list-cont">
      <% if @post.commentsCounter > 0 %>
          <%= render 'partials/comment', comments: @post.comments %>
      <% else %>
      <li>No comments</li>
    <% end %>
  <%= render '/partials/new_comment', comments: @post.comments%>
  </ul>   
</section>